---
import { type Props as PostProps } from "../layouts/Post.astro"

export interface Props extends PostProps {
    url: string
}

const { frontmatter, url } = Astro.props
---
<style lang="scss">
    .post > a {
        all: unset;
        cursor: pointer;
        position: absolute;
        left: 0px;
        top:0px;
        height: 100%;
        width: 100%;
        z-index: 3;
        opacity: 1;
        font-size: 0;
    }

    * {
        margin: 0;
    }

    p, small {
        color: #bbb;
        font-style: oblique;
    }

    p:last-of-type {
        text-align: right;
    }

    .post {
        --hoverThickness {}
        border-radius: 16px;
        padding: 10px 15px;
        background-color: var(--backgroundColor);
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        
        transition-duration: 250ms;
        transition-property: border-left border-right;
        position: relative;

        & > img {
            position: absolute;
            left: 0px;
            top: 0px;
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: var(--backgroundColor);
            filter: opacity(20%) saturate(25%);
            z-index: 0;
            transition-duration: 250ms;
            transition-property: filter;
        }

        &:has(> img) {
            background: var(--backgroundColorTransparent);
        }
    }

    .frontmatter {
        z-index: 1;
        position: relative;
    }

    .post:has(a:hover), .post:has(a:focus-visible) {
        border-left: 5px solid #66AAFF;
        border-right: 5px solid #66AAFF;

        & > img {
            filter: opacity(25%) saturate(75%);
        }
    }

    .post:has(a:focus-visible) {
        outline: 3px solid #ccc;
    }
</style>
<div class="post">
    <a href={url}>{frontmatter.title}: {frontmatter.description}</a>

    {
        frontmatter.image && !frontmatter.image.isTopper
        ? <img src={frontmatter.image.url} alt={frontmatter.image.alt}>
        : ""
    }

    <div class="frontmatter">
        <h3>{frontmatter.title}</h3>
        <p>
            {frontmatter.description}
        </p>
        <p>
            <small>{new Date(frontmatter.publicationDate).toISOString().split("T")[0]}</small>
        </p>
    </div>

</div>