---
import type { HTMLAttributes } from "astro/types"

const { quotes, noHeader, extraAttributes } = Astro.props

interface Quote {
    text: string
    // dont feel like using Date here
    date: `${number}-${number}-${number}`
}

interface Props {
    quotes: Quote[]
    noHeader?: boolean
    extraAttributes?: HTMLAttributes<"section"> // i should kill myself
}
---

<style lang="scss">
    .quote {
        text-align: center;
        & > p {
            margin: 0;
            &::before {
                content: "“";
                color: var(--c-subtext1);
            }
            &::after {
                content: "”";
                color: var(--c-subtext1);
            }
            font-family: "Inter Variable", Inter, sans-serif;
        }
        & > address {
            color: var(--c-subtext1);
            font-size: small;
        }
        margin: 10px 0;
    }
</style>
<section id="quotes" class="insignificant" {...extraAttributes}>
    {!noHeader ? <h2 class="sectionDenoter">Quotes</h2> : ""}
    {
        quotes.map((quote, x) => (
            <div class:list={["quote", { alternate: x % 2 == 1 }]}>
                <p>{quote.text}</p>
                <address>&mdash; May, {quote.date}</address>
            </div>
        ))
    }
    <br />
</section>
