---
import GenericHeader from "../components/GenericHeader.astro"
import Page from "./Page.astro"
import "../style/markdown.scss"
import type getReadingTime from 'reading-time';

import extend from "@fluentui/svg-icons/icons/table_resize_column_24_filled.svg?raw";
import home from "@fluentui/svg-icons/icons/home_24_filled.svg?raw";

const { frontmatter } = Astro.props

export interface Props {
    frontmatter: {
        title: string,
        description: string,
        publicationDate?: number,
        unlisted?: boolean,
        image?: {
            isTopper?: boolean,
            url: string,
            alt: string
        },
        readTime: ReturnType<typeof getReadingTime>
    }
}

const notes = [
    ...(
        frontmatter.publicationDate 
        ? [`Published ${new Date(frontmatter.publicationDate).toISOString().split("T")[0]} (UTC)`]
        : []
    ),
    ...(
        frontmatter.unlisted
        ? [`Unlisted`]
        : []
    )
]
---

<style lang="scss">
    #frontmatter {
        > p {
            text-align: center;
        }

        .postControls {
            display: flex;
            padding: 0 10px;
            justify-content: space-between;
            margin-bottom: 5px;
            align-items: center;

            p {
                margin: 0;
                color: #aaa;
            }

            .controls {
                font-size: 1.5em;
                display: flex;
                cursor: default;
                label {
                    display: none;
                }
                >*,>div>* {
                    vertical-align: middle;
                }
                input[type=checkbox] {
                    --size: 1.25em;
                }
                a {
                    display: block;
                    transition-duration: 250ms;
                    transition-property: color;
                    &:hover {
                        color: #fff;
                    }
                }
                .divider {
                    font-size: 1em;
                }
                @media screen and (max-width: 640px) {
                    .postExtend {
                        display: none;
                    }
                }
                @media screen and (max-width: 530px) {
                    font-size: xx-large;
                }
            }
        }
    }
</style>

<Page 
    title={frontmatter.title}
    description={frontmatter.description}
    meta={
        frontmatter.image
        ? [
            {
                name: "og:image",
                content: frontmatter.image.url
            },
            ...(
                !frontmatter.image.isTopper
                ? [{name:"twitter:card", content: "summary_large_image"}]
                : []
            )
        ]
        : []
    }
>
    <GenericHeader text={frontmatter.title} styling={{noBottomPad: true}} image={frontmatter.image}/>
    <section class="significant" id="frontmatter">
        <p>
            <em>{frontmatter.description}</em>
            {notes.length
            ? <br><small>{notes.join(` — `)}</small>
            : ""}
        </p>
        <div class="postControls">
            <p>{frontmatter.readTime.words} words ({frontmatter.readTime.text.match(/(.*) read/)[1]})</p>
            <div class="controls">
                <a href="/blog"><Fragment set:html={home} /></a>
                <div class="postExtend">
                <span class="divider" aria-hidden>&nbsp;|&nbsp;</span>
                    <label for="extendPost">Extend post</label>
                    <Fragment set:html={extend} />&thinsp;<input type="checkbox" name="extendPost" class="extendPost">
                </div>
            </div>
        </div>
    </section>
    <section class="insignificant markdown" id="postBody">
        <slot />
    </section>
</Page>